html {
  height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.231));
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav {
  float: right;
}

nav a {
  margin-left: 15px;
}

#logo {
  margin-left: 5px;
  font-size: 1.9em;
  font-weight: bold;
  font-family: Cpperplate, fantasy;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.303);
}

/* p {
  float: left;
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

