html {
  height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.355));
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav {
  float: right;
}

nav a {
  margin-left: 15px;
}

#logo {
  margin-left: 5px;
  font-size: 1.9em;
  font-weight: bold;
  font-family: Cpperplate, fantasy;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.303);
}

#logo:hover {
  color: #ff9934
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 20px;
}

/* index.html */

.main-content img {
  float: left;
  margin-right: 20px;
}

/* opponents.html */

.opponents {
  float: left;
  margin-right: 25px;
  position: relative;
  height: 210px;
}

.opponents img {
  height: 100%;
}

.opponents a {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.355));
  padding-top: 5px;
  padding-bottom: 5px;
}

.opponents a:hover {
  color: #ff9934
}

/* contact.html */

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email] {
  height: 25px;
  margin-bottom: 15px;
}

textarea {
  height: 150px;
  margin-bottom: 15px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background: #ff9934;
  border: 0 none;
}
